@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poor+Story');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Alegreya');

header {
background: rgb(200, 173, 127);
padding: 30px;
margin-bottom: 8px;
}

header li {
display: inline-block;
color: #ffffff;
border: 1px dotted #ffffff;
padding: 3px;
margin: 12px;
}

header a {
color : pink;
}

.hero{
background: rgb(05, 0, 0) url("image/esope.jpg") top center no-repeat;
background-size: cover;
background-attachment: inherit;
color: #ffffff;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.hero h1{
font-family: 'Playfair Display', serif;
font-size: 3em;
background: rgba(200, 173, 127, 0.8);
padding: 20px;
}

section{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

section{
  margin-bottom: 8px;
  margin-top: 8px;
  min-height: 50vh;
  padding: 25px;
}

.even {
  flex-direction: row-reverse;
}

.image-block img{
  width: 100%;
  display: block;
}

figcaption{
  font-family: 'Playfair Display', serif;
  font-style: normal ;
}

body{
  font-family: 'Poor Story', cursive;
  font-weight: 200;
  line-height: 1.25;
}

p{
  margin-bottom: 1em;
}

h1,h2,h3,h4,h5{
margin: 1em;
font-weight: inherit;
line-height: 1.5;
}

h1{
font-family: 'Playfair Display', serif;
margin-top: 0;
font-size: 2.5em;
text-align: left;
}

h2{
  font-family: 'Crimson Text', serif;
  margin-top: 0;
  font-size: 2.5em;
  text-align: center;
}

h3{
  font-family: 'Inconsolata', monospace;
  margin-top: 0;
  font-size: 2.5em;
  text-align: right;
}

h4{
  font-family: 'Abril Fatface', cursive;
  margin-top: 0;
  font-size: 2.5em;
  text-align: center;
}

h5{
  font-family: 'Alegreya', serif;
  margin-top: 0;
  font-size: 2.5em;
  text-align: left;
}

.odd{
background: rgb(233, 201, 177);
}

.even{
background: rgb(255, 127, 0);
}

footer {
background: rgb(200, 173, 127);
padding: 30px;
margin-top: 8px;
}

footer ul{
list-style-type: center;
}

footer li{
display: inline-block;
color: #ffffff;
margin: 12px;
padding: 1px;
border: 1px dotted #ffffff
}
